<app-header></app-header>
<form [formGroup]="mouvementForm" (ngSubmit)="onSubmit()">
  <div class="borderBottom">
    <div class="container">
      <mat-grid-list cols="2" rowHeight="16:1">
        <mat-grid-tile>
          <div fxFlex fxLayoutAlign="start center">
            <h3>Mouvements / <span id="New">Nouveau</span></h3>
          </div>
        </mat-grid-tile>
        <mat-grid-tile> </mat-grid-tile>
        <mat-grid-tile>
          <div fxFlex fxLayoutAlign="start center">
            <button
              mat-button
              class="blueButton"
              type="submit"
              [disabled]="!mouvementForm.valid"
            >
              Ajouter
            </button>
            <button mat-button class="importer" routerLink="/mouvements">
              Annuler
            </button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <div class="container content">
    <mat-grid-list cols="2" rowHeight="10:1">
      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label>Produit</mat-label>
          <mat-select disableRipple formControlName="produit">
            <mat-option *ngFor="let product of products" [value]="product">
              {{ product.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label>Type</mat-label>
          <mat-select disableRipple formControlName="type">
            <mat-option value="Entree">Entree</mat-option>
            <mat-option value="Sortie">Sortie</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label>Fournisseur</mat-label>
          <mat-select disableRipple formControlName="fournisseur">
            <mat-option *ngFor="let provider of providers" [value]="provider">
              {{ provider.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label>Entropot</mat-label>
          <mat-select disableRipple formControlName="stock">
            <mat-option *ngFor="let stock of stocks" [value]="stock">
              {{ stock.emplacement.designation }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label>Quantite</mat-label>
          <input matInput type="text" formControlName="quantite" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label>Prix d'achat</mat-label>
          <input matInput type="text" formControlName="prixAchat" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field id="description">
          <mat-label>Description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</form>
