<app-header></app-header>
<div class="borderBottom">
  <div class="container">
    <mat-grid-list cols="2" rowHeight="16:1">
      <mat-grid-tile>
        <div fxFlex fxLayoutAlign="start center"><h3>Fournisseurs</h3></div>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Filtre</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" />
          <span class="material-icons" mat-button matSuffix mat-icon-button>
            search
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxFlex fxLayoutAlign="start center">
          <button
            [disabled]="isUser()"
            mat-button
            class="blueButton"
            routerLink="/providerForm"
          >
            CREER
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="identifiant">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef>Adresse</th>
      <td mat-cell *matCellDef="let element">{{ element.adresse }}</td>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef>Telephone</th>
      <td mat-cell *matCellDef="let element">{{ element.telephone }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          [disabled]="isUser()"
          mat-icon-button
          color="warn"
          (click)="openDialog(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          [disabled]="isUser()"
          mat-icon-button
          color="primary"
          (click)="goToProviderItem(element.id)"
        >
          <mat-icon>update</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
